.valid-input {
  background-color: rgb(183, 241, 178);
}

.form-check {
  display: flex;
  align-items: center;  /* מיישר את הצ'קבוקס עם הטקסט */
  gap: 32px;            /* רווח בין הצ'קבוקס לטקסט */
  direction: rtl; 
  float: right;
}

/* רקע ירוק עם אפקט */
.sign-bg {
  background: linear-gradient(135deg, #4caf50, #2e7d32);
  display: flex;
  flex-direction: column;
  padding: 16px; /* כדי שהכרטיס לא יידבק למסך בצדדים */
 
}

/* כרטיס עם מסגרת עגולה וצבעים */
.custom-card {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  background-color: #fdfdfd;
  border: 2px solid #c8b900; /* זהב */
  padding: 20px;
}

/* טקסט זהוב */
.text-gold {
  color: #c8b900;
  font-weight: bold;
}

/* כפתור עיצוב מיוחד */
.btn-idf {
  background-color: #2e7d32;
  border: none;
  font-weight: bold;
  color: white;
  transition: 0.3s;
}

.btn-idf:hover {
  background-color: #1b5e20;
}

/* קישורים בצבע זהב */
.link-gold {
  color: #c8b900;
  font-weight: bold;
  text-decoration: none;
}

.link-gold:hover {
  text-decoration: underline;
}

/* --- התאמה למובייל --- */
@media (max-width: 576px) {
  .custom-card {
    max-width: 100%;   /* ימלא כמעט את כל רוחב המסך */
    padding: 16px;
    margin-top: -40px;
    
  }

  .form-check {
    gap: 12px;         /* מרווח קטן יותר בצ'קבוקס */
    float: none;
    justify-content: flex-start;
  }

  .btn-idf {
    font-size: 14px;   /* טקסט קטן יותר בכפתור */
    padding: 10px;
  }

  .text-gold {
    font-size: 20px;   /* הכותרת תיראה טוב במסך קטן */
  }

  input.form-control {
    font-size: 14px;
    padding: 10px;
  }
  .img-container{
    margin-top: 0px;
   
  }
  .sign-logo{
    width: 200px;
    margin-bottom: 10px;
  }

}
